<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>项目页</title>
	<link rel="stylesheet" href="../css/index.css">
</head>
<body>
	<div class="wrap">
		<header class="header">
			<h1>欢迎进入我的世界！</h1>
			<nav class="nav">
				<li><a href="#">首页</a></li>
				<li><a href="view/pro_page.html">项目展示</a></li>
				<li><a href="view/person.html">个人介绍</a></li>
				<li><a href="view/hobby.html">兴趣存放</a></li>
				<li><a href="view/more.html">杂谈</a></li>
			</nav>	
		</header>
		<main class="main">
			<p><a href="https://guoxu0824.github.io/bilibili/">b站</a></p>
		</main>
	</div>
</body>
</html>